<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <!--bean-->
        <typeAlias alias="PerformData" type="top.huzhurong.cmdb.bean.PerformData"/>
        <!--query-->
        <typeAlias alias="PerformDataQuery" type="top.huzhurong.cmdb.bean.query.PerformDataQuery"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://127.0.0.1:3306/cmdb?useSSL=false&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;autoReconnect=true"/>
                <property name="username" value="root"/>
                <property name="password" value="chenshun"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/perform_data.xml"/>
    </mappers>
</configuration>